/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body {
    font-family: sans-serif;
    background: #0c0b09;
    color: #fff;
    height: 2000px;
  }
  
  a {
    color: #cda45e;
    text-decoration: none;
  }
  
  a:hover {
    color: #d9ba85;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family:sans-serif;
  }
  nav li{
      list-style: none;
  }
  ul{
      list-style: none;
  }
  .starter{
      width: 100%;
      height: 100%;
      background-color: #0c0b09;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
  }
  .circle{
      width: 60px;
      height: 60px;
      border: 4px solid #cda45e;
      position: absolute;
      border-radius: 50%;
      left: 46%;
      top: 45%;
      
      animation: spin 1s linear infinite;
  }
  @keyframes spin {
      100%{
          transform: rotate(360deg);
      }
    
  }
  .circle::before{
      content: "";
      width: 100px;
      height: 25px;
      background-color: #0c0b09;
      position: absolute;
      left: -10px;
      top: 15px;
  }
  /* ============start  topbar =============*/
  .top-navbar-section{
    width: 100%;
    height: 40px;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: 3;
    min-width: 290px;
}
.top-navbar{
    width: 100%;
    height: 100%
}
.topbar-contact span{
   font-size: 14px;
   margin-left: 20px;
}
.topbar-contact i{
    color: #cda45e;
    margin-right: 10px;
    font-size: 17px;
}
.lang{
    position: relative;
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.lang span{
    cursor: pointer;
}
.lang::before{
    content: "/";
    position: absolute;
    left: 50%;
}
.active{
    color: #cda45e;
}
.scrolled-topbar{
    top: -40px;
}
@media only screen and (max-width: 480px) {
    .topbar-contact{
        width: 100%;
        text-align: center;
    }
    .topbar-contact span{
        display: block;
        
    }
    .lang{
        display: none;
    }
  }
/* =================== end topnavbar================ */
/* =================== start hader================== */
header{
    width: 100%;
    height: 70px;
    background-color:rgba(12, 11, 9, 0.6) ;
    position: fixed;
    border-bottom: 1px solid #0c0b09;
    top: 40px;
    transition: 0.5s ease-in-out;
    z-index: 5;
    min-width: 290px;
}

.header-scrolled{
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
}
h1{
    margin: 0;
}
h1 a{
    font-size: 27px;
    color: #fff;
}
h1 a:hover{
    font-size: 27px;
    color: #fff;
    
}
.nav{
    height: 100%;
}
.nav li a{
    padding: 15px;
    font-size: 14px;
    color: #fff;
    transition: 0.5s ease;
}
.nav li a span{
    margin-left: 5px;
}
.nav-button{
    padding: 7px 25px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #cda45e;
    color: #fff;
    font-size: 14px;
    transition: 0.5s ease;
}
.nav-button:hover{
    background-color: #cda45e;
}
.burger{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.deep-navbar{
    width: 200px;
    height: 190px;
    top: 80px;
    padding: 0;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 101;
}
.deep-navbar  li a{
    color: #444444;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.5s ease;
}
.deep-navbar li a:hover{
    color: #cda45e;
}
.deep-navbar li{
    margin-top: 10px;
}
.deep-navbar li a span{
    margin-left: 20px;
}
.deep-navbar:hover{
    visibility: visible;
    opacity: 1;
    top: 60px;
}
.down-bar:hover~.deep-navbar{
    visibility: visible;
    opacity: 1;
    top: 60px;
}
.deep-navbar-deep{
    width: 200px;
    height: 190px;
    top: 80px;
    left: -200px;
    position: absolute;
    padding: 0;
    border-radius: 5px;
    background-color: #fff;
    opacity: 0;
    transition: 0.2s ease;
    z-index: 101;
    visibility: hidden;
}
.deep-navbar-deep li a{
    color: #444444;
}
.show-deep-bar:hover~.deep-navbar-deep{
   visibility: visible;
   opacity: 1;

}
.deep-navbar-deep:hover{
    visibility: visible;
   opacity: 1;
}
@media only screen and (max-width: 1180px) {
    .nav li,.nav-button{
        display: none;
    }
    .burger{
        display: block;
    }
  }
  /*    ============== start mobile menu ================*/

.mobile-menu{
    width: 100%;
    height: 100%;
    min-width: 290px;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}
.mobile-menu ul{
    width: 90%;
    height: 90%;
    background-color: #fff;
    position: fixed;
    left: 5%;
    top: 5%;
    border-radius: 5px;
    list-style: none;
    min-width: 290px;
}
.mobile-menu ul li{
    margin: 10px;
}
.mobile-menu ul li a{
    color: #444444;
    transition: 0.5s;
}
.mobile-menu ul li a:hover{
    color: #cda45e;
}
.close-mobile-menu{
    font-size: 25px;
    color: grey;
    position: absolute;
    right:70px;
    top: 40px;
    cursor: pointer;
}
@media screen and (min-width:1180px){
    .mobile-menu{
        visibility: hidden;
    }
}
@media screen and (max-width:440px){
    .close-mobile-menu{
        right: 30px;
    }
}

  /* =================== end mobile menu ================ */
/* =================== end header=================== */
.hero-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(..\/images/hero-bg.jpg);
    background-size: cover;
    top: 0;
    left: 0;
    padding-top: 230px;
    z-index: 1;
    min-width: 290px;
}
.hero-section::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.hero-section h2{
    font-size: 52px;
    font-weight: bold;
}
.hero-section h2 span{
    color: #cda45e;
}

.hero-section h3{
    font-size: 22px;
    margin: 10px 0 20px 0;
}
.hero-section button{
    padding: 5px 20px;
    background-color: transparent;
    border: 2px solid #cda45e;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    transition: 0.5s ease;
    margin-right: 20px;
    cursor: pointer;
}
.hero-section button:hover{
    background-color: #cda45e;
}
.play-video i{
    color: #fff;
    padding: 30px;
    background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    cursor: pointer;    
}
@media only screen and (max-width:680px){
    .hero-section{
        text-align: center;
    }
    .hero-section h2 span {
        font-size: 40px;
    }
    .hero-section button{
        margin: 0;
        margin-top: 10px;
    }
    .play-video{
        margin-top: 20px;
    }
} 
@media only screen and (max-width:480px){
   .hero-section{
       padding-top: 150px;
   }
}
/* ======================end hero section========================= */
/* ======================start about=========================== */
.about{
    width: 100%;
    padding-top: 300px;
    padding-bottom: 100px;
    transition: 1s ease;
    opacity: 0;
    min-width: 290px;
    position: relative;
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: 3;
}
.about::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.about-scrolled{
    padding-top: 80px;
    opacity: 1;
}
.about h2{
    font-size: 26px;
}
.about h3{
    font-size: 17px;
    font-style: italic;
    margin-top: 10px;
}
.about span{
    display: block;
    margin: 10px 0;
    font-size: 17px;
}
.about span i{
    font-weight: 600;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #cda45e;
    color: #cda45e;
    margin-right: 5px;
}
.about p{
    margin-top: 20px;
}
.about .about-img{
    position: relative;
    margin: 0;
    padding: 0;
    transition: 0.5s ease;
}
.about .about-img::before{
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    border-top: 4px solid #cda45e;
    border-left: 4px solid #cda45e;
    left: 20px;
    top: 20px;
    transition:  0.5s ease-in-out;
    z-index: 1;
}
.about .about-img::after{
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    border-right: 4px solid #cda45e;
    border-bottom: 4px solid #cda45e;
    bottom: 20px;
    right: 20px;
    transition: 0.5s;
    z-index: 1;
}
.about .about-img img{
    width: 100%;
    height: 100%;
    transition: 1s ease;
    border:4px solid grey;
}
.about .about-img:hover::before{
   top: 10px;
   left: 10px;
}
.about .about-img:hover::after{
   right: 10px;
   bottom: 10px;
}
.about .about-img:hover{
    transform: scale(1.03);
}
@media only screen and (max-width:980px){
    .about .container .row div{
        margin-top: 20px;
    }
}
/* =================== end about ================= */
/*==================== start why us================== */
.why-us{
    padding: 100px 0;
    min-width: 250px;
}
.why-us-title{
    margin-top: 100px;
    opacity: 0;
    transition: 1.5s ease;
}
.why-us-title-scrolled{
    margin-top: 0;
    opacity: 1;
}
.why-us-title h5{
    font-size: 15px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
}
.why-us-title h5::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: grey;
    margin-left: 10px;
}
.why-us-title h2{
    font-size: 35px;
    color: #cda45e;
    margin-bottom: 40px;
}
.why-us-box-child{
    padding: 50px 30px;
    background-color:#1a1814;
    transition: 1.5s ease;
    margin-top: 20px;
}
.why-us-box-child{
    transform: scale(0.5);
}
.why-us-box-child-scrolled{
    transform: scale(1);
}
.why-us-box-child:hover{
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: #cda45e;
}
.why-us-box-child:hover h3{
    color: #fff;
}
.why-us-box-child:hover h4{
    color: #fff;
}
.why-us-box-child:hover p{
    color: #fff;
}
.why-us-box-child h3{
    margin: 0 0 20px 0;
    color: #cda45e;
}
.why-us-box-child h4, p{
    color: grey;
}
/* =================== end why us ===================== */
/* <!--=============== start menu================== --> */
.menu{
    min-width: 290px;
    padding: 80px 0;
    background-color: #1a1814;
}
.menu-title{
    margin-top: 100px;
    opacity: 0;
    transition: 1.5s ease;
}
.menu-title-scroll{
    margin-top: 0;
    opacity: 1;
}
.menu-title h3{
    font-size: 15px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
}

.menu-title h3::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: grey;
    margin-left: 10px;
}
.menu-title h2{
    font-size: 40px;
    color: #cda45e;
    margin-bottom: 40px;
}
/* .menu-content div{
    margin-top: 40px;
    padding: 0 20px;
} */
.clear{
    clear: both;
}
.menu ul li a{
    padding: 10px;
    color:#fff;
    transition: 0.3s ease-in-out;
}
.menu ul li a:hover{
    color: #cda45e;
}
.menu img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid grey;
}
.menu-box{
    width: 100%;

    padding: 25px 20px;
}
.menu-box a{
    float: left
    ;
}
.menu-box span{
    float: right;
    color: #cda45e;
    font-size: 18px;
    font-weight: bold;
}
.menu p{
    font-style: italic;
}
/* <!--=============== end menu================== --> */
/* ===================start specoals============== */
.specials{
    min-width: 290px;
    padding: 170px 0;
    opacity: 0;
    transition: 1s ease;
}
.specials-scroll{
    padding: 70px 0;
    opacity: 1;
}
.specials-title h3{
    font-size: 15px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
}
.specials-title h3::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: grey;
    margin-left: 10px;
}
.specials-title h2{
    font-size: 45px;
    color: #cda45e;
    margin-bottom: 30px;

}
.specials-check ul{
    padding-left: 0;
    border-right: 3px solid #cda45e;
}
.specials-check ul li{
    padding: 12px 5px;
    font-size: 17px;
}
.li-active{
    background-color: #cda45e;
    color: black;
}
.specials-check ul li a{
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.specials-check ul li a:hover{
    color: #444;
}
.specials-content-middle h4{
    color: #fff;
    font-size: 27px;
}
.specials-content-middle h6{
    color: #444;
    font-style: italic;
    font-weight: 600;
    margin: 30px 0;
}
.specials-content-middle p{
    color: #444;
    font-weight: 600;
}
.specials img{
    width: 100%;
}
/* ===================end specials================ */
/* <!--=============== start events================== --> */
.events{
    min-width: 290px;
    padding-top: 150px;
    padding-bottom: 70px;
    background-image: url(../images/events-bg.jpg);
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    z-index: 1;
    opacity: 0;
    transition: 1s ease;
}
.events-scroll{
    padding-top: 70px;
    opacity: 1;
}
.events::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.events-title h3{
    font-size: 15px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
}
.events-title h3::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: grey;
    margin-left: 10px;
}
.events-title h2{
    font-size: 35px;
    color: #cda45e;
    margin-bottom: 30px;
}
.container-slide{
    overflow: hidden;
    width: 49%;
    padding: 0;
}
.events img{
    width: 100%;
}
.slider{
    display: flex;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    /* transition: 0.5s; */
}
.btn-box{
    width: 150px;
    margin: auto;
    margin-top: 30px;
}
.btnn{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: grey;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    
}
.btn-active{
    background-color: #fff;
}
/* <!--=============== end events================== --> */
/* <!--=============== start reservation================== --> */
.reservation{
    min-width: 290px;
    padding-top: 150px;
    padding-bottom: 30px;
    opacity: 0;
    transition: 1s ease;
}
.reservation-scroll{
    padding-top: 70px;
    opacity: 1;
}
.reservation h3{
    font-size: 15px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
}
.reservation h3::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: grey;
    margin-left: 10px;
}
.reservation h2{
    font-size: 45px;
    color: #cda45e;
    margin-bottom: 30px;
}
.reservation input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #444;
    padding-left:10px;
    margin-bottom: 25px;
    color: #fff;
}
#date,#time{
    color: #444;
}
#number{
    color: #fff;
}
.reservation textarea{
    width: 100%;
    height: 130px;
    background-color: transparent;
    padding: 10px;
}
.sub{
    text-align: center;
    padding-top:20px ;
}
#submit{
    width: 150px;
    height: 45px;
    background-color: #cda45e;
    border-radius: 20px;
    color: #fff;
}
/* <!--=============== end reservaion================== --> */
/* <!--=============== start testimonials================== --> */
.testimonials{
    min-width: 290px;
    padding-top: 150px;
    padding-bottom: 70px;
    opacity: 0;
    transition: 1s ease;
}
.testimonials-scroll{
    padding-top: 70px;
    opacity: 1;
}
.testimonials h3{
    font-size: 15px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
}
.testimonials h3::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: grey;
    margin-left: 10px;
}
.testimonials h2{
    font-size: 40px;
    color: #cda45e;
    margin-bottom: 30px;
}

/* <!--=============== end testimonials================== --> */
/* <!--=============== start gelery================== --> */
.gallery{
    min-width: 290px;
    padding: 150px 0;
    padding: 10px;
    opacity: 0;
    transition: 1s ease;
}
.gallery-scroll{
    padding-top: 70px;
    opacity: 1;
}
.gallery h3{
    font-size: 15px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
}
.gallery h3::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: grey;
    margin-left: 10px;
}
.gallery h2{
    font-size: 35px;
    color: #cda45e;
    margin-bottom: 30px;
}
.gallery-content div{
    border: 2px solid #444;
    padding: 0;
    overflow: hidden;
    
}
.gallery-content img{
    width: 100%;
    height: 100%;
    transition:  0.5s ease;
    cursor: pointer;
}
.gallery-content div:hover img{
    transform: scale(1.1);
}
/* <!--=============== end gelery================== --> */
/* <!--=============== start chefs================== --> */
.chefs{
    min-width: 290px;
    padding-top: 150px;
    padding-bottom: 30px;
    opacity: 0;
    transition: 1s ease;
}
.chefs-scroll{
    padding-top: 70px;
    opacity: 1;
}
.chefs-title h3{
    font-size: 15px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
}
.chefs-title h3::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: grey;
    margin-left: 10px;
}
.chefs-title h2{
    font-size: 35px;
    color: #cda45e;
    margin-bottom: 30px;
}
.chefs-content img{
    width: 100%;
}
.chefs-info{
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}
.chefs-info h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 0 ;
    color: #0c0b09;
}
.chefs-info span{
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic;
    color: #0c0b09;
}

.chefs-info i{
    margin: 10px;
    font-size: 20px;
    color: #090909;;
}
.chefs-content-box:hover .chefs-info{
    opacity: 1;
    bottom: 0;
}
.chefs-content-box{
    margin-top: 20px;
    position: relative;
    text-align: center;
}

/* <!--=============== end chefs================== --> */
/* <!--=============== start contact================== --> */
.contact{
    min-width: 290px;
    padding-top: 150px;
    padding-bottom: 30px;
    opacity: 0;
    border-bottom: 1px solid #444;
    transition: 1s ease;
}
.contact-scroll{
    padding-top: 70px;
    opacity: 1;
}
.contact-title h3{
    font-size: 15px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
}
.contact-title h3::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: grey;
    margin-left: 10px;
}
.contact-title h2{
    font-size: 35px;
    color: #cda45e;
    margin-bottom: 30px;
}
.map iframe{
    padding: 0;
}
.contact-form{
    padding-top: 50px;
}
.contact-info{
    display: flex;
    margin-bottom: 30px;
}
.icon{
    height: 60px;
    width: 60px;
    background-color:#cda45e;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.contact-info h3{
    font-size: 22px;
   font-weight: 600;
   display: inline;
}
.contact-info p{
    font-size: 14px;
    color: #444;
}
#txt{
    float: left;
    width: 48%;
    height: 40px;
}
#eml{
    float: right;
    width: 48%;
    height: 40px;
}
#subject-input{
    width: 100%;
    height: 40px;
}
#contact-textarea{
    width: 100%;
    height: 180px;
}
#txt,#eml,#subject-input,#contact-textarea{
    background-color: transparent;
    color: #fff;
    margin-top: 20px;
    border: 1px solid #444;
    padding: 10px;
}
#contact-submit{
    width: 160px;
    height: 40px;
   border-radius: 30px;
   color: #fff;
   font-weight: 600;
   background-color: #cda45e;
   border: 0;
}
.subdiv{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
/* <!--=============== end contact================== --> */
/* ====================start footer============================= */
footer{
    min-width: 290px;
    padding-top: 70px;
    padding-bottom: 0;
    opacity: 0;
    transition: 1s ease;
}
.footer-scroll{
    padding-top: 70px;
    opacity: 1;
}
.footer-top{
    border-bottom: 1px solid #444;
}
.footer-top span{
    display: block;
    margin: 20px 0;
    font-size: 14px;
}
.footer-top span i{
    margin-right: 10px;
    color: #cda45e;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 0;
}
.footer-icons i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.footer-icons i:hover{
    color: #fff;
    background-color: #cda45e;
}

.footer-top a{
    color: #fff;
    transition: 0.3s ease;
}
.footer-top a:hover{
    color: #cda45e;
}
.footer-top p{
    color: #fff;
    font-size: 14px;
}
.footer-top h2{
    font-size: 25px;
    margin-bottom: 30px;
}
.footer-top h3{
    font-size: 18px;
    margin-bottom: 30px;
}

.subscribe-div form{
    width: 100%;
    border: 1px solid #444;
    height: 40px;
    border-radius: 30px;
    padding-left: 10px;
    background-color: #444;
    padding-left: 10px;
}
.subscribe-div #footer-email{
    height: 100%;
    outline: none;
    background-color: transparent;
    border: 0;
    color: #fff;
    float :left;
    
}
.subscribe-div #footer-sub{
    height: 100%;
    float: right;
    padding: 0 35px;
    border: 0;
    background-color: #cda45e;
    color: #fff;
    outline: none;
    border-radius: 20px;
}
.footer-bottom{
    background-color: black;
    padding: 50px 0;
}
.none{
    display: none;
}
.footer-bottom p{
    max-width: 350px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.footer-info{
    margin-top: 20px;
}
@media only screen and (max-width:480px){
    #footer-email{
        width: 50%;
    }
    #footer-sub{
        width: 50%;
    }
}
/* ====================end footer =============================== */